<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/Content/css/styles.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <title>Band Tracker</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">Band Tracker</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/">Home</a></li>
          </ul>
        </div>
      </nav>

    </header>
    <main>
      <div class="container">
        @RenderBody()
      </div>

    </main>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="/Content/js/script.js">

    </script>
  </body>
</html>
