@{
    Layout="Shared/_Layout.cshtml";
}

<h2>Add a new concert</h2>

<div class="row">
    <form class="col s12" id="new-band-venue" action="/" method="post">

        <div class="input-field col s12">
            <input type="text" name="band" id="band">
            <label for="band">Band Name</label>
        </div>

        <div class="input-field col s12">
            <input type="text" name="venue" id="venue">
            <label for="venue">Venue Name</label>
        </div>

        <button type="submit" class="btn btn-lg btn-info">Submit</button>
    </form>
</div>

@foreach(var venue in @Model["venues"])
{
    <h4><a href="/venue/@venue.GetId()">@venue.GetName()</a></h4>
    @foreach(var band in @venue.GetBands())
    {
        <p><a href="/band/@band.GetId()">@band.GetName()</a></p>
    }
}
